@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../public/CalebBugnacki.png);
  top: 0;
  bottom: 0;
  background-position-x: right;
}
<style global tsx>
   {`
       html {
          scroll-behavior: smooth;
        }
  `}